:root {
  --font-family: "Nunito Sans", Arial, sans-serif;
  --medium_beige: #eadfce;
  --light_beige: #fcfaf7;
  /* --light_beige: #f8f3ed; */
  --white: #fff;
  --light_green: #d3f5da;
  --medium_green: #8aaa91;
  --light_blue: #e2eefe;
  --medium_blue: #a8bddb;
  --text-colour: #2e2e2e;
  --dark_grey: #676767;
  --footer: #414141;
  --light_grey: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

/*Carousel*/
.carousel-container {
  height: 200px;
  width: 732px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: red;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.latest-posts_card-container {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  background: black;
  min-width: 200px;
  height: 200px;
  margin-right: 1rem;
  display: inline-block;
}

/* ERROR_MESSAGE */
.message {
  border: 2px solid #a71515;
  background-color: var(--light_beige);
  color: black;
  padding: 15px;
  max-width: 275px;
  text-align: center;
  font-weight: 600;
  margin: 20px auto;
}

.error {
  background-color: #fff;
  color: #a71515;
}

.skip-nav-link {
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
}

.skip-nav-link:focus {
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 10px 0px;
}

.logo {
  max-width: 215px;
  padding: 8px;
}

nav {
  position: absolute;
  z-index: 1;
  background-color: var(--white);
  width: 100vw;
  top: 48px;
  padding: 12px 0px;
  box-shadow: 0px 2px 2px 0px #00000040;
}

ul {
  list-style-type: none;
  text-align: center;
  background-color: #fff;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

nav li {
  padding: 7px 82px;
}

li a {
  font-size: 1.25rem;
}

li a[aria-current="page"] {
  background-color: var(--light_blue);
  padding: 5px 12px;
  box-shadow: 0px 2px 2px 0px #00000040;
}

li a:hover {
  background-color: var(--medium_blue);
  padding: 5px 12px;
  box-shadow: 0px 2px 2px 0px #00000040;
}

.hamburger-menu {
  height: 54px;
  width: 54px;
  position: absolute;
  right: 12px;
  bottom: 9px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.hidden {
  display: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 157.9%;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 5px 0px;
}

h2,
h3 {
  text-align: center;
  margin: 5px 0px;
}

/*BUTTONS*/

.cta {
  border-width: 0px;
  background-color: var(--light_green);
  box-shadow: 0px 2px 2px 0px #00000040;
  padding: 5px 10px;
  font-family: var(--font-family);
  font-size: 16px;
  text-transform: none;
}

.cta:hover {
  background-color: var(--medium_green);
  transition: 0.5s;
}

.cta-send,
.loadmore-cta {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  color: #000;
}

.cta-card {
  margin: 3px auto 20px auto;
  padding: 5px 18px;
  align-self: center;
}

.loadmore-cta {
  background-color: var(--light_blue);
}

.loadmore-cta:hover {
  background-color: var(--medium_blue);
  transition: 0.5s;
}

.back-button {
  display: flex;
  align-items: baseline;
  gap: 3px;
  margin: 70px auto 0px 10px;
  padding: 10px 5px;
  font-size: 1rem;
  text-decoration: none;
  background-color: #fff;
  border: none;
}

/*FOOTER*/

footer {
  background-color: var(--medium_beige);
  text-align: center;
  color: var(--footer);
  padding: 20px 0px;
}

.footer-margin-top {
  margin-top: 120px;
}

footer > p {
  font-size: 0.8rem;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  font-size: 2rem;
  color: var(--footer);
  padding: 6px 12px;
}
/* HOMEPAGE*/

.hero-image,
.about-image,
.contact-image {
  max-width: 100%;
  margin-top: 70px;
}

.text-box_container {
  background-color: var(--medium_beige);
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.welcome-heading {
  margin: 15px auto 0px auto;
}

.welcome-text {
  margin: 0px 20px 20px 20px;
  line-height: 177.9%;
}

/*Carousel*/
.carousel-container {
  height: 200px;
  width: 732px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: red;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.latest-posts_card-container {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  background: black;
  min-width: 200px;
  height: 200px;
  margin-right: 1rem;
  display: inline-block;
}

/*Carousel card*/
.carousel-container {
  display: flex;
  justify-content: center;
  gap: 23px;
}

.carousel-mobile {
  display: block;
  max-width: 980px;
}

.carousel-arrow {
  /*  height: 222px;
  margin: 5px 5px; */
  height: 222px;
  /*   margin: 5px 5px;
  padding: 0px 20px; */
}

.latest-posts_card {
  width: 223px;
  height: 220px;
  background-color: var(--light_blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.latest-posts_card:hover {
  background-color: var(--medium_blue);
  transition: 0.5s;
}

.latest-posts_card-image {
  width: 198px;
  height: 152px;
  align-self: center;
  margin: 13px auto 0px auto;
}

.latest-posts_card-heading {
  padding: 0px;
}

/*BLOG LIST PAGE*/

.blog-post-list-heading {
  margin-top: 80px;
}

.blog_card-container {
  /*   margin-top: -25px; */
}

.blog_card {
  max-width: 90%;
  margin: 20px auto 30px auto;
  background-color: var(--light_beige);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.blog_card-image {
  max-width: 100%;
  height: auto;
}
.blog_card-textbox {
  display: flex;
  flex-direction: column;
}

.blog_card-heading {
  margin-top: 15px;
}

.blog_card-text {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 10px auto;
}

/*BLOG SPECIFIC PAGE*/

.blog-post_container {
  background-color: var(--light_beige);
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 20px auto;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.blog-post_heading {
  margin: 10px auto;
}
.blog-post_image {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 1100px;
  transition: filter 300ms ease-in;
  align-self: center;
}

.blog-post_text-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.blog-post_text {
  max-width: 80%;
  align-self: center;
  margin-bottom: 12px;
  text-align: left;
}

.blog-post-info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  margin-bottom: 20px;
}

.blog-post-info_text {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}

/*Modal*/
#blog-image {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 1100px;
  transition: filter 300ms ease-in;
}

#blog-image:hover {
  filter: brightness(0.7);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 160px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-image_styling {
  margin: auto;
  display: block;
  width: 85%;
  max-width: 1100px;
  border: 8px solid var(--light_beige);
}

#modal-image_alt-text {
  margin: 0px auto 60px auto;
  display: block;
  width: 75%;
  max-width: 700px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  height: 40px;
}

/*ABOUT PAGE*/

.about-textcontainer {
  padding: 0px 15px 0px 15px;
}

.about-text {
  padding: 7px 0px;
}

.signature-container {
  display: flex;
  justify-content: center;
}

.signature-image {
  max-width: 150px;
  padding: 0px 0px 10px 0px;
}

/*CONTACT PAGE*/

.contact-textcontainer {
  padding: 0px 15px 10px 15px;
}

.contact-text {
  padding: 0px 0px 10px 0px;
}

.form-container {
  padding: 0px 15px 10px 15px;
}

.label-input-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  display: block;
  border: 1px solid var(--dark_grey);
}

input,
textarea {
  margin: 3px 0px 0px 0px;
  padding: 10px 0px;
  font-family: var(--font-family);
}

input[type="text"],
input[type="email"],
input[type="subject"] {
  width: 219px;
  height: 30px;
  padding: 0px 5px;
}

label {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  width: 219px;
}

textarea {
  height: 80px;
  width: 219px;
  padding: 5px 5px;
  font-family: var(--font-family);
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

/*TABLET*/
@media only screen and (min-width: 700px) {
  /*   body {
    background-color: var(--light_blue);
  } */

  header {
    position: fixed;
    display: flex;
  }

  .logo {
    position: fixed;
    z-index: 2;
    display: flex;
    max-width: 215px;
    margin-left: 20px;
    margin-top: -5px;
  }

  nav {
    display: block;
    top: 0px;
    padding: 0px;
  }

  .nav-menu {
    margin: 8px 20px 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 420px;
  }

  nav li {
    padding: 6px 0px;
  }

  li a {
    display: block;
    padding: 6px 10px;
    font-size: 1rem;
  }

  li a:hover {
    background-color: var(--medium_blue);
    transition: 0.5s;
  }

  .hamburger-menu,
  #menu-checkbox {
    display: none;
  }

  .hero-layout {
    width: 701px;
    height: 477px;
    margin: 0px auto 0px auto;
  }

  .hero-image {
    top: 17px;
    max-width: 78%;
    left: 20%;
    position: relative;
  }
  .text-box_container {
    gap: 7px;
    max-width: 48%;
    height: 310px;
    position: relative;
    bottom: 323px;
    left: 2%;
    padding: 15px 20px;
  }

  .welcome-heading {
    margin: 11px auto 0px auto;
    font-size: 20px;
  }

  .welcome-text {
    line-height: 177.9%;
    margin: 0px;
  }

  .blog_card {
    display: flex;
    align-items: center;
    max-width: 90%;
  }

  .blog_card-image {
    width: 346px;
    height: 260px;
    padding: 12px;
  }

  .blog_card-textbox {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0px;
    justify-content: center;
  }

  .blog_card-heading {
    text-align: center;
    margin: 15px auto 0px auto;
  }

  .blog_card-text {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 10px auto;
    font-size: 16px;
    line-height: 157.9%;
  }

  .cta-card {
    margin-top: 3px;
    align-self: center;
  }

  /*About & Contact page*/

  .about-container,
  .contact-container {
    max-width: 80%;
    margin: auto;
  }

  .about-image,
  .contact-image {
    max-width: 100%;
    margin-top: 78px;
  }

  .about-heading,
  .contact-heading {
    margin: 15px 0px 5px 0px;
  }

  .about-textcontainer {
    padding: 0px;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
  /* body {
    background-color: var(--light_grey);
  } */

  header {
    padding: 0px;
  }

  .logo {
    max-width: 400px;
    margin-left: 20px;
    margin-top: -10px;
  }

  nav {
    display: block;
    top: 0px;
    padding: 0px;
  }

  .hero-layout {
    width: 1024;
    height: 560px;
    margin: 0px auto 70px auto;
  }

  .hero-image {
    top: 34px;
    max-width: 74%;
    left: 23%;
    position: relative;
  }
  .text-box_container {
    gap: 27px;
    max-width: 44%;
    height: 300px;
    position: relative;
    bottom: 373px;
    left: 3%;
    padding: 20px 25px;
  }

  .welcome-text {
    line-height: 177.9%;
  }

  .blog_card {
    width: 90%;
    max-width: 1200px;
  }

  .blog_card-index {
    max-width: 1024px;
  }

  .blog_card-image {
    width: 365px;
    height: 280px;
    padding: 15px 15px;
    margin: auto;
  }

  .blog_card-textbox {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    /* margin: 33px 30px; */
    padding: 0px 15px;
    justify-content: center;
  }

  .blog_card-heading {
    text-align: center;
    margin-bottom: 10px;
  }

  .blog_card-text {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 10px auto 20px auto;
    text-align: left;
  }
  .cta-card {
    margin: 10px 35px 15px auto;
  }

  /*Blog specific page*/

  .blog-post_container {
    max-width: 80%;
  }

  /*About & Contact page*/

  .about-container,
  .contact-container {
    max-width: 1285px;
    height: 600px;
    margin: 44px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .about-image,
  .contact-image {
    width: 50%;
    height: 60%;
    max-width: 488px;
    margin: 74px 20px 0px 20px;
  }

  .about-content-container,
  .contact-content-container {
    padding: 34px 20px;
    width: 50%;
  }

  .about-heading,
  .contact-heading {
    margin: 15px 0px 5px 0px;
    max-width: 563px;
  }

  .contact-heading {
    margin: 15px 0px 5px 17px;
    text-align: left;
  }

  .about-textcontainer,
  .contact-textcontainer {
    padding: 0px 17px;
    max-width: 563px;
  }

  .contact-text,
  .about-text {
    text-align: left;
  }

  .signature-container {
    max-width: 563px;
  }

  .signature-image {
    max-width: 150px;
    margin-top: 10px;
  }

  .form-container {
    max-width: 563px;
  }

  .label-input-alignment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input[type="text"],
  input[type="email"],
  input[type="subject"] {
    width: 386px;
    height: 48px;
  }

  textarea {
    height: 120px;
    width: 386px;
  }

  .cta-contact-layout {
    display: flex;
    width: 386px;
  }
  .cta-send {
    margin: 20px auto;
    width: 170px;
  }
}
